*.pt
*.dat
*.mat
*.npy
*.mp4
#*.png
*.jpg
*.out
*.json
.idea/
benchmark/wifi_csi/.idea/
benchmark/wifi_csi/.ipynb_checkpoints/
benchmark/wifi_csi/modified_preset.py
benchmark/wifi_csi/preset.py.save
benchmark/wifi_csi/results/
benchmark/wifi_csi/wandb/
wandb/
result/
__pycache__/
dataset/wifi_csi/.DS_Store
benchmark/wifi_csi/results/model_0/PT_classroom_empty_room.pth
benchmark/wifi_csi/results/model_0/PT_meeting_room_empty_room.pth
results/model_0/PT_classroom_empty_room.pth
results/model_0/PT_meeting_room_empty_room.pth
dataset/
visualizations/experiment_*
